---
title:
  en: Demo request
  nl: Demo aanvragen
  de: Demo anfordern
header_class: header-hero
---

<div class="hero">
  <div class="row">
    <h1><%= t("demo.thanks.title") %></h1>
    <%= markdown t("demo.thanks.text") %>

    <%= partial :video %>

    <p class="demo-footer">
      <%= t("demo.thanks.contact") %>
    </p>
  </div>
</div>

