@mixin background-pattern($color) {
  @include background-image(
    url(../images/pattern.svg),
    linear-gradient(-10deg, $color, darken($color, 10)));

  background-attachment: fixed, scroll;
  background-color: $color;
  background-position: center;
  background-size: cover;

  @include media ($small-screen-down) {
    background-attachment: scroll;
  }
}
