.avatar {
  background-color: #fff;
  background-size: cover;
  background-position: center;
  border: 4px solid #fff;
  border-radius: 50%;
  display: inline-block;
  width: 100px;
  height: 100px;

  &.small {
    width: 68px;
    height: 68px;
  }
}
