#contact {
  .button {
    margin: 1.5em;
    margin-bottom: 0;
    color: $color-primary;
    border: none;
    background: $light-gray;
    text-transform: none;

    @include media ($small-screen-down) {
      display: block;
      margin: 1.5em 0;
      padding: .8em;
    }
  }
}
