#footer {
  padding: 30px $side-padding;
  font-size: .8em;
  text-align: center;
  background: $light-gray;
}

@include media ($medium-screen-up) {
  #footer {
    li {
      display: inline-block;
      margin: 0 2em;
    }
  }
}
