#header {
  $navigation-height: 80px;
  $navigation-padding: .5em;
  $navigation-color: transparentize(#fff, 0.2);
  $navigation-color-hover: #fff;
  $navigation-active-link-color: transparentize(white, 0.5);
  $desktop-mode: $medium-screen-up;
  $mobile-mode: $medium-screen-down;

  @include clearfix;
  height: $navigation-height;
  padding: 0 $side-padding;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .header-wrapper {
    @include clearfix;
    position: relative;
    z-index: 999;
  }

  .logo {
    float: left;
    max-height: $navigation-height;
    line-height: $navigation-height - 10px;
    font-size: 1.6em;
    font-weight: 700;
    color: #fff;

    .logo-cube {
      padding: .5em 0;
      margin-right: 8px;
      vertical-align: middle;

      @include media ($small-screen-down) {
        display: none;
      }
    }

    .logo-text {
      margin-top: 3px;
      vertical-align: middle;
    }
  }

  // Mobile view
  .header-menu-button {
    float: right;
    margin-top: 1.2em;
    padding: 8px 10px;
    color: $navigation-color;
    font-weight: 700;
    font-size: 1.2em;

    .bar {
      display: block;
      width: 22px;
      height: 2px;
      max-height: 2px;
      border-radius: 1px;
      background: #fff;

      & + .bar {
        margin-top: 5px;
      }
    }

    &:hover, &:active {
      .bar {
        background: $color-primary;
      }
    }

    @include media ($desktop-mode) {
      display: none;
    }
  }

  // Nav menu
  .nav {
    z-index: 9999;
    float: none;

    @include media ($desktop-mode) {
      float: right;
    }
  }

  #header-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 1em 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    // border-radius: 4px;

    @include media ($desktop-mode) {
      display: inline;
      margin: 0;
      padding: 0;
      background: transparent;
    }

    li {
      display: block;
      overflow: hidden;
      text-align: right;
      width: 100%;
      z-index: 9999;

      @include media ($desktop-mode) {
        display: inline;
        line-height: $navigation-height;
        margin-left: .5em;
        text-align: center;
        text-decoration: none;
        width: auto;

        &:first-child {
          margin-left: 0;
        }
      }

      @include media ($large-screen-up) {
        margin-left: 1em;
      }

      a.link,
      a.button {
        @include transition (all .3s ease);

        @include media ($mobile-mode) {
          &:hover {
            background: $light-gray;
          }
        }
      }

      a.link {
        color: $color-primary;
        font-weight: 700;
        display: block;
        padding: .8em 1em;
        text-decoration: none;

        &:hover {
          color: $color-primary;
        }

        @include media ($desktop-mode) {
          display: inline-block;
          padding: 0 .5em;
          color: $navigation-color;

          &:hover {
            color: $navigation-color-hover;
          }
        }
      }

      a.button {
        @include media ($desktop-mode) {
          margin-left: .5em;
        }

        @include media ($mobile-mode) {
          background: transparent;
          border: none;
          color: $color-primary !important;
          display: block;
          padding: .8em 1em;
          text-transform: none;
        }

        &:hover {
          // color: $navigation-color-hover;
        }
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }
}
