.accent {
  @include background-pattern($color-primary);
  color: #fff;

  hr {
    border-color: #fff;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover, &:active, &:focus {
      color: #fff;
    }
  }
}

.container {
  @include outer-container;
}

section {
  position: relative;
  padding: 5em $side-padding;
  text-align: center;

  .section-head {
    margin-bottom: 36px;

    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 26px;
    }
    hr {
      width: 46px;
      border: 2px solid $color-primary;
      margin: 0 auto;
    }
  }
}
