body.panel {
  background-color: #f1f1f1;
  min-height: 100%;
  text-align: center;
  padding-top: 80px;

  @include media ($medium-screen-up) {
    @include display(flex);
    @include align-items(center);

    .panel-inner {
      @include display(flex);
      @include flex-direction(column);
    }
  }

  #header {
    @include background-pattern($color-primary);
  }

  .panel-inner {
    margin: 0 auto;
    max-width: 460px;
    padding: 15px;
    width: 100%;

    .container {
      background: #fff;
      box-shadow: 0px 1px 8px #bebebe;
      border-radius: 3px; // $base-border-radius;
      margin: 0;
      max-width: none;
      min-height: 200px;
      padding: 25px;
      position: relative;
    }

    h1 {
      margin-top: 0;
    }

    h2,
    .form-title {
      font-size: 1.5em;
      margin-bottom: 20px;
    }

    input {
      @include placeholder {
        font-weight: 300;
      }
    }

    button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      margin-bottom: $base-spacing / 2;
      width: 100%;
    }

    .form-links {
      a {
        display: inline-block;
        padding: 3px 0;
      }
    }

    .footer {
      color: #999;
      font-size: .9em;
      margin-top: 15px;

      a {
        color: #666;
      }
    }
  }
}
