ul.social {
  $icon-size: 44px;

  list-style: none;
  margin: 3em 0 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 4px;
  }

  span {
    clip: rect(0 0 0 0);
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  a {
    @include transition(all .2s ease);
    border-radius: 50%;
    background: $light-gray;
    color: $base-accent-color;
    display: inline-block;
    font-size: $icon-size * .55;
    height: $icon-size;
    line-height: $icon-size;
    text-align: center;
    width: $icon-size;

    &:hover,
    &:active {
      background: $base-accent-color;
      color: #fff;
    }
  }
}
