section.features {
  padding: 0;
}

.feature {
  border-bottom: $base-border;
  padding: 5em $side-padding;
  text-align: center;
}

.feature-image {
  position: relative;
  margin-bottom: 2em;

  @include media($large-up) {
    @include span-columns(7);
    margin-bottom: 0;
    padding-right: 2em;
  }
}

.feature-text {
  @include media($large-up) {
    @include span-columns(5);
    text-align: left;
  }
}

.feature-text + .feature-image {
  padding: 0 0 0 2em;
}
