body.nl_zelfsturende-teams {

  hr {
    border: 2px solid $color-healthcare;
  }

  header {
    background: rgba(82, 65, 65, 0.2);
  }

  h1 {
    color: #fff;
  }

  a {
    color: darken($color-healthcare, 50);
  }

  #intro {
    background-color: $color-healthcare;
    background-image: url(../images/healthcare.png), linear-gradient(-10deg, #71b9b6 ,#bce5ee );
  }

  #pricing {
    background-color: $color-healthcare;
    background-image: url(../images/pattern.svg), linear-gradient(-10deg, #71b9b6 ,#bce5ee );

    a {
      color: darken($color-healthcare, 50);
    }
  }

  #screenshots {
    margin-top: -1px;
  }

  #contact {

    .button {
      color: darken($color-healthcare, 50);
    }

    ul.social a {
      color: darken($color-healthcare, 50);
    }
  }


  .hexagon {
    background: $color-healthcare !important;
    color: #fff !important;
  }

  .document {
    .scroll {
      padding-top: 54% !important;
    }
  }
}
