@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "base/grid-settings";
@import "neat";

@import "base/base";
@import "components/base";
@import "tour";
@import "login";

// Layout

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

section {
  padding: 6em $side-padding;
}

.border-top {
  border-top: $base-border;
}

.border-bottom {
  border-bottom: $base-border;
}

.row {
  @include outer-container;
}


// Misc styling

section.for-who {
  text-align: center;

  .button {
    margin: 1.5em 0.5em 0;
  }
}

section.quotes {
  background: $lighter-gray;

  .row {
    max-width: 1200px;
  }

  .quote-balloon {
    @include media($medium-up) {
      @include span-columns(4);
    }
  }
}

section.cta-signup {
  background: darken($lighter-gray, 3%);
  padding: 3em $side-padding;
  text-align: center;

  h3,
  .button {
    display: inline-block;
    margin: 15px 1em;
    vertical-align: middle;
  }
}

section.clients {
  background: $lighter-gray;
  border: none;
  padding: 3em $side-padding 2em;
  text-align: center;

  body.index & {
    border-top: $base-border;
  }

  p {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.4;
    text-transform: uppercase;
  }

  .logos {
    margin: 2rem 0;
    opacity: 0.6;
  }

  img {
    display: inline-block;
    margin: 1rem 2rem;
    max-height: 40px;
    max-width: 100px;
    vertical-align: middle;

    @include media($medium-up) {
      max-height: 120px * 0.4;
      max-width: 120px;
    }
  }
}

section.contact {
  text-align: center;

  .row {
    max-width: 1080px;
  }

  .team {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 10px;
    }

    .avatar {
      @include avatar-size(80px);
      margin-bottom: 10px;
    }

    span {
      color: #4a4a4a;
      display: block;
      font-size: 0.9em;
      font-weight: 700;
    }
  }
}

body.pricing {
  .footer {
    border-top: $base-border;
  }
}

.js-enabled,
.js-disabled {
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  padding: 2px 4px;
}

.js-enabled {
  background-color: lighten($green, 35%);
  border-color: rgba($green, 0.1);
  color: darken($green, 5%);
}

.js-disabled {
  background-color: lighten($red, 30%);
  border-color: rgba($red, 0.1);
  color: $red;
}
