<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <link rel="canonical" href="<%= t("urls.redirect") %>" />
    <meta http-equiv=refresh content="0; url=<%= t("urls.redirect") %>" />
    <meta name="robots" content="noindex,follow" />
    <meta http-equiv="cache-control" content="no-cache" />
  </head>
  <body>
  </body>
</html>
