---
title:
  en: Page not found (404)
  nl: Pagina niet gevonden (404)
  de: Seite nicht gefunden (404)
directory_index: false
noindex: true
header_class: header-hero
---

<div class="hero">
  <div class="row">
    <h1><%= t("not_found.hero.title") %></h1>
    <p><%= t("not_found.hero.text") %></p>
  </div>
</div>
