<section id="announcement">
  <div class="container">

    <div class="quote">
      <div class="avatar" style="background-image: url(http://photos-b.ak.instagram.com/hphotos-ak-xpf1/10483442_1426344384313553_589866955_n.jpg)"></div>

      <div class="bubble">
        <h3><%= t("announcement.heading_html", link: "http://www.zukunft-personal.de") %></h3>
        <p><%= t("announcement.text_html") %></p>
      </div>
    </div>
  </div>
</section>
