<section id="announcement">
  <div class="container">

    <div class="quote">
      <div class="avatar" style="background-image: url('<%= image_path 'jesse.png' %>')"></div>

      <div class="bubble">
        <h3><%= t("announcement.heading_html") %></h3>
        <p><%= t("announcement.text_html") %></p>
      </div>
    </div>

  </div>
</section>
