<section class="signup">
  <div class="row">
    <h3>Ready to give LearningSpaces a try?</h3>
    <a href="https://public.learningspaces-staging.io/accounts/new" class="button button-rounded button-hover">Sign up for free</a>
  </div>
</section>
