<section id="contact">
  <div class="container">

    <div class="section-head">
      <h2><%= t("menu.contact") %></h2>
      <hr>
    </div>

    <p><%= t("contact.info_html") %></p>

    <a href="mailto:isabela@learningspaces.io" class="button button-big">isabela@learningspaces.io</a>
    <a href="tel:+31503144832" class="button button-big">+31 (0)50 3144832</a>

    <%= partial "social" %>

  </div>
</section>
