<section class="cta-signup">
  <div class="row">
    <h3><%= t("cta.tagline") %></h3>
    <a href="https://public.learningspaces.io/accounts/new" class="button button-rounded button-hover"><%= t("cta.sign_up") %></a>
  </div>
</section>
