<section class="cta-signup">
  <div class="row">
    <h3><%= t("cta.tagline") %></h3>
    <span class="actions">
      <%= link_to t("cta.sign_up"), t("urls.signup"), class: "button button-rounded button-hover" %>
      <%= link_to t("cta.request_demo"), "/demo.html", class: "button button-rounded button-outline" %>
    </span>
  </div>
</section>
