<section class="cta-signup">
  <div class="row">
    <h3><%= t("cta.tagline") %></h3>
    <a href="<%= t("urls.signup") %>" class="button button-rounded button-hover"><%= t("cta.sign_up") %></a>
  </div>
</section>
