<% t("faq.categories").each do |category| %>
  <div class="faq-category">
    <h3><%= category[:title] %></h3>
    <ul class="faq-list">

      <% category[:questions].each do |question| %>
        <li>
          <h4>
            <a href="#" class="faq-question">
              <%= question[:q] %>
              <span class="faq-icon"></span>
            </a>
          </h4>
          <div class="faq-answer">
            <%= markdown question[:a] || "Coming soon." %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>
