<footer id="footer">
  <div class="container">

    <div class="copyright"><%= t("copyright") %></div>
    <div class="terms"><%= link_to t("terms"), asset_url(t("terms_file")) %></div>
    <div class="credit"><%= t("credit") %> <a href="http://www.defacto.nl" target="_blank">Defacto</a></div>

  </div>
</footer>
