<footer id="footer">
  <div class="container">
    <ul>
      <li class="copyright">
        <a href="http://www.defacto.nl" target="_blank">&copy; <%= Time.now.year %> Defacto</a>
      </li>
      <li class="terms"><%= link_to t("terms_of_service"), asset_url(t("terms_of_service_file")) %></li>
      <li class="terms"><%= link_to t("terms_of_use"), asset_url(t("terms_of_use_file")) %></li>
      <li class="jobs"><a href="https://www.hellohired.com/learningspaces"><%= t("jobs") %></a></li>
    </ul>
  </div>
</footer>
