<section id="for-you">
  <div class="container">

    <div>
      <h2>What can LearningSpaces do for you?</h2>
      <ul>
        <li><%= link_to 'I’m in a startup / small team' %></li>
        <li><%= link_to 'I’m a trainer / educator' %></li>
        <li><%= link_to 'I’m an L&D professional' %></li>
        <li><%= link_to 'I’m in a big organization / department' %></li>
      </ul>
    </div>

  </div>
</section>
