<section class="for-who">
  <div class="row">
    <h2>What can LearningSpaces do for you?</h2>

    <p>LearningSpaces lets you quickly set up a learning community. Create and share knowledge with your team and beyond. Depending on your needs, LearningSpaces can be anything from an interactive knowledge base to your internal training platform.</p>

    <%= link_to "Small Teams &amp; Startups", "small-teams.html",
      class: "button button-outline button-rounded" %>
    <%= link_to "Trainers &amp; Educators", "trainers-and-educators.html",
      class: "button button-outline button-rounded" %>
    <%= link_to "Large Teams &amp; Organizations", "large-teams-and-organizations.html",
      class: "button button-outline button-rounded" %>
  </div>
</section>
