<nav class="header" aria-hidden="true">
  <a href="/" class="logo">LearningSpaces</a>
  <ul>
    <li><a href="#" class="nav-link">About</a></li>
    <li><a href="#" class="nav-link">Pricing</a></li>
    <li><a href="#" class="nav-link">Support</a></li>
    <li><a href="#" class="nav-link">Blog</a></li>
    <li><a href="#" class="nav-link">Login</a></li>
    <li><a href="#" class="button button-outline button-rounded button-white">Sign up</a></li>
  </ul>
</nav>
