<section id="intro">
  <h1>
    <span class="typed">Maak kennis met<br>LearningSpaces</span>
  </h1>
  <div class="bottom">
    <%#= partial "mailchimp" %>
    <%= link_to t("trial.request"), "trial", class: "button button-white button-big" %>
  </div>
</section>
