<script>
var lines = <%= t("typewriter").to_json %>;
</script>

<section id="intro">
  <h1>
    <span class="typed"><%= t("typewriter").first %></span>
  </h1>
  <ul>
  <% t("typewriter")[1..-1].each do |line| %>
    <li><%= line %></li>
  <% end %>
  </ul>
  <div class="bottom">
    <%#= partial "mailchimp" %>
    <%= link_to t("trial.request"), t("trial.page"), class: "button button-white button-big" %>
  </div>
</section>
