<section id="intro">
  <h1>
    <span class="typed">Maak kennis met<br>LearningSpaces</span>
  </h1>
  <div class="bottom">
    <%#= link_to t("request_trial"), request_trial_path, class: "button button-white button-big" %>
    <%= link_to t("request_trial"), "#", class: "button button-white button-big" %>
  </div>
</section>
