<section id="screenshots">
  <div class="container">

    <div class="browser scroll">
      <div class="ui">
        <div class="ooo"></div>
        <div class="www">www.learningspaces.io</div>
      </div>
      <div class="window">
        <div class="document">
          <%= image_tag("screenshot/screenshot-header.png", class: "header") %>
          <div class="scroll">
            <div class="scroll-inner">
              <%= image_tag("screenshot/screenshot-options.png", class: "options") %>
              <%#= image_tag(asset_path :images, "screenshot/screenshot-options-#{I18n.locale}.png", class: "options") %>
              <div class="spaces" style="background-image: url('<%= asset_path :images, "screenshot/screenshot-spaces.png" %>')"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
