<section id="screenshots">
  <div class="container">

    <div class="browser scroll">
      <div class="ui">
        <div class="ooo"></div>
        <div class="www">www.learningspaces.io</div>
      </div>
      <div class="window">
        <div class="document">
          <div class="scroll">
            <div class="scroll-inner">
              <%= image_tag("screenshot/spaces.png", class: "options") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
