<div class="row">
  <div class="slideshow-screens">
    <div class="browser intrinsic-ratio">
      <div class="browser-ooo"></div>
      <div class="browser-viewport">

      <% t("slideshow.features").each_with_index do |feature, index| -%>
        <%= image_tag feature[:screenshot], alt: feature[:screenshot_alt], class: (index == 0 ? "active" : nil) %>
      <% end %>

      </div>
    </div>
  </div>

  <div class="slideshow-nav">
    <ul>

    <% t("slideshow.features").each_with_index do |feature, index| -%>
      <li class="<%= "active" if index == 0 %>">
        <h4><%= feature[:title] %></h4>
        <p><%= markdown feature[:text_md] %></p>
      </li>
    <% end %>

    </ul>
  </div>
</div>
