<ul class="social">
  <li>
    <a href="https://twitter.com/learningspaces_" target="_blank" class="icon-twitter"></a>
  </li>
  <li>
    <a href="https://www.facebook.com/LrnSpaces" target="_blank" class="icon-facebook"></a>
  </li>
  <li>
    <a href="https://plus.google.com/110885161852372381687" target="_blank" class="icon-google-plus"></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/learningspaces" target="_blank" class="icon-linkedin"></a>
  </li>
</ul>
