<ul class="social">
  <li>
    <a href="https://twitter.com/learningspaces" target="_blank" class="icon-twitter" title="Twitter"><span>Twitter</span></a>
  </li>
  <li>
    <a href="https://www.facebook.com/LrnSpaces" target="_blank" class="icon-facebook" title="Facebook"><span>Facebook</span></a>
  </li>
  <li>
    <a href="https://plus.google.com/110885161852372381687" target="_blank" class="icon-google-plus" title="Google+"><span>Google+</span></a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/learningspaces" target="_blank" class="icon-linkedin" title="LinkedIn"><span>LinkedIn</span></a>
  </li>
</ul>
