# Small Teams and Startups

We love small teams! **LearningSpaces** is made by a small team, and very much inspired by the way we learn from each other. We want LearningSpaces to transform learning and knowledge sharing, the way Slack and Hipchat transformed communication for teams.

For small teams, information is vital. LearningSpaces helps you keep your team's knowledge and experience in one place, so you can focus on growth and performance.

<blockquote class="quote">
  <div class="text">LearningSpaces is here to help you grow.</div>
</blockquote>

We've tried our best to make sharing knowledge and creating amazing learning experiences as easy as possible. Setting up a community is a matter of seconds. And creating inspiring content in our [intuitive editor](https://www.youtube.com/watch?v=QJax47wlmJg){:target="_blank"} will be a breeze.
