<div class="video-fluid">
  <iframe src="<%= t("urls.ls_vimeo") %>?api=1&player_id=vimeo-player&title=0&portrait=0&byline=0&badge=0"
          id="vimeo-player"
          width="640"
          height="360"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen
          data-progress="true"
          data-seek="true"
          data-bounce="true"
          data-title="video">
  </iframe>
</div>
