<div class="video-fluid">
  <iframe src="https://player.vimeo.com/video/184984381?title=0&portrait=0&byline=0&badge=0"
          width="640"
          height="360"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
  </iframe>
</div>
