---
title:
  en: Request demo
  nl: Demo aanvragen
  de: Demo anfordern
header_class: header-hero
---

<div class="hero">
  <div class="row">
    <h1><%= t("demo.title") %></h1>
    <p><%= t("demo.text") %></p>

    <form accept-charset="UTF-8" action="https://formkeep.com/f/#" method="POST" class="form-large">
      <input type="hidden" name="utf8" value="✓">

      <label for="input-name" class="required">Name</label>
      <input type="text" name="name" id="input-name" required>

      <label for="input-email" class="required">Email</label>
      <input type="email" name="email" id="input-email" required>

      <label for="input-phone">Phone</label>
      <input type="tel" name="phone" id="input-phone">

      <label for="input-company">Company</label>
      <input type="text" name="company" id="input-company">

      <label for="input-notes">Additional notes</label>
      <textarea name="notes" rows="3" id="input-notes"></textarea>

      <button type="submit" class="button button-hover button-navy">Request demo</button>
      <hr>
    </form>

    <p class="demo-footer">
      Prefer the conventional way of contact?<br>
      Send an email to <a href="mailto:isabela@learningspaces.io" class="border">isabela@learningspaces.io</a>
      or call <a href="tel:+31503144832" class="border">+31 (0)50 3144832</a>
    </p>
  </div>
</div>
