---
title: Frequently asked questions
header_class: header-hero
---

<div class="hero small">
  <div class="row">
    <h1>Frequently asked questions</h1>
  </div>
</div>

<section class="faqs">
  <div class="row">

    <%= partial "faq" %>

  </div>
</section>
