---
title: Support
header_class: header-hero
---

<div class="hero small">
  <div class="row">
    <h1>Support</h1>
  </div>
</div>

<section class="faq">
  <div class="row">
    <h1>Common Questions</h1>

    <%= partial "faq" %>

  </div>
</section>
