---
title: Welcome to LearningSpaces
---

<div class="hero">
  <h1>Focus your team’s learning efforts</h1>
  <p>Create and share knowledge in a matter of seconds.</p>
  <a href="#" class="button">Get started</a>
  <button>test</button>
</div>

<%= t(:hello) %>
