---
title:
  en: Large Teams &amp; Organizations
  nl: Grote teams &amp; organisaties
---

<section>
  <div class="row">
    <%= partial :text_large_teams %>
  </div>
</section>

<%= partial :cta_signup %>

<%= partial :for_who %>
