---
title: Login
header_class: header-hero
---

<div class="panel-wrapper">
  <div class="panel">
    <h1>Login</h1>
    <p>Please enter your team's LearningSpaces domain:</p>

    <div class="input-group">
      <input type="text" name="subdomain" id="subdomain" placeholder="domain">
      <span id="tld" class="input-addon">.learningspaces.io</span>
    </div>

    <div id="error">Could not find that domain.</div>

    <button class="button button-green" id="continue">Continue</button>
  </div>

  <div class="panel-links">
    <a href="https://public.learningspaces.io/accounts/new">Trying to set up LearningSpaces for your team?</a>
  </div>
</div>

<%= javascript_include_tag "login" %>
