---
title: Pricing
header_class: header-hero
---

<div class="hero small">
  <div class="row">
    <h1>Pricing</h1>
    <p>LearningSpaces is available for everybody, from small teams to large enterprises.</p>
  </div>
</div>

<section class="princing-plans">
  <div class="row plans">

    <div id="plan-free" class="plan">
      <h3>Free</h3>
      <div class="plan-price">
        <span class="currency">&euro;</span>0
      </div>
      <p>Free for up to 10 users</p>
      <p>For small teams or startups</p>
    </div>

    <div id="plan-value" class="plan">
      <h3>Value</h3>
      <div class="plan-price">
        <span class="currency">&euro;</span>2
        <!-- <span class="cents">99</span> -->
      </div>
      <p>Per use per month<br>
      billed annually</p>
      <p>Direct in-app support</p>
      <p>Cancel any time</p>
    </div>

    <div id="plan-enterprise" class="plan">
      <h3>Enterprise</h3>
      <div class="plan-price text">
        Call us
      </div>
      <p>Direct in-app support</p>
      <p>Initial user import</p>
      <p>Onboarding consultancy</p>
    </div>

  </div>

  <div class="row">
    <p>All plans include unlimited Spaces, Paths and storage.</p>
    <p>Paid plans are billed annually and can be canceled at any time.</p>
  </div>
</section>
