---
title: Small Teams &amp; Startups
description: We want LearningSpaces to transform learning and knowledge sharing, the way Slack and Hipchat transformed communication for teams.
---

<section>
  <div class="row">
    <h1><%= current_page.data.title %></h1>
    <%= partial :text_small_teams %>
  </div>
</section>

<%= partial :cta_signup %>

<%= partial :for_who %>
