---
title: Small Teams &amp; Startups
---

<section>
  <div class="row">
    <h1><%= current_page.data.title %></h1>
    <%= partial :text_small_teams %>
  </div>
</section>

<%= partial :conversion_signup %>

<%= partial :for_who %>
