---
title:
  en: Trainers &amp; Educators
  nl: Opleiders &amp; docenten
  de: Trainer &amp; Lehrer
description:
  en: Depending on your needs, LearningSpaces can be anything from an interactive knowledge base to your internal training platform.
  nl: Hoe LearningSpaces wordt ingericht en ingezet bepaal je helemaal zelf. Denk bijvoorbeeld aan een kennisbibliotheek of een intern leerplatform.
  de: Je nach deinen Bedürfnissen und Anforderungen kann LearningSpaces individuell eingesetzt werden, von interaktiver Wissensdatenbank bis hin zur internen Lernplattform.
---

<section>
  <div class="row">
    <%= partial :text_trainers_educators %>
  </div>
</section>

<%= partial :cta_signup %>

<%= partial :for_who %>
