---
title: Trainers &amp; Educators
---

<section>
  <div class="row">
    <h1><%= current_page.data.title %></h1>
    <%= partial :text_trainers_educators %>
  </div>
</section>

<%= partial :conversion_signup %>

<%= partial :for_who %>
