// TODO:
// - position screenshots absolute and use intrinsic ratio for browser size.

.browser {
  background: #e9edf0;
  padding-top: 24px;
  border: 1px solid #d9dee1;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  position: relative;

  .browser-ooo {
    &, &:before, &:after {
      background: #d4dbdf;
      border-radius: 50%;
      content: "";
      float: left;
      height: 8px;
      position: absolute;
      width: 8px;
    }

    // background: #ea666a;
    left: 8px;
    top: 8px;

    &:before {
      // background: #f7d34c;
      left: 13px;
    }

    &:after {
      // background: #75b96e;
      left: 26px;
    }
  }

  .browser-viewport {
    position: relative;
  }

  img {
    display: block;
    max-width: 100%;
    box-shadow: 0 0 0 1px #d9dee1;
  }

  // Using intrinsic ratio for the content
  &.intrinsic-ratio {
    .browser-viewport {
      &::before {
        content: "";
        display: block;
        // padding-bottom: 56.25%;
        padding-bottom: 71%;
      }
    }

    img {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
