.mobile-nav-open {
  // Disable scrolling
  overflow: hidden;
}

.header {
  @include clearfix;
  background: #fff;
  display: block;
  flex: none;
  height: $header-height;
  left: 0;
  line-height: $header-height;
  padding: 0 $side-padding;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 4px rgba(0,0,0, .15);

  .mobile-nav-open & {
    @include media ($medium-down) {
      background: $green url(image-path("pattern.jpg")) no-repeat center;
      background-size: cover;
      height: 100%;
      overflow: auto;
      position: fixed;
      top: 0;
      z-index: 999;
    }
  }

  @include media($xlarge-up) {
    $header-height: 60px + 20px;

    height: $header-height;
    line-height: $header-height;
  }

  .logo {
    color: inherit;
    font-size: 1.3em;
    font-weight: 700;
    text-decoration: none;

    img {
      display: inline-block;
      opacity: 0.75;
      vertical-align: middle;

      &.logo-cube {
        height: 48px;
        margin-right: 0.5em;
        width: 42px;
      }

      &.logo-text {
        height: 25px;
        width: 180px;
      }

      &.white {
        display: none;
        opacity: 1;
      }

      .mobile-nav-open & {
        @include media ($medium-down) {
          display: none;

          &.white {
            display: inline-block;
          }
        }
      }
    }
  }

  .nav-link,
  .nav-button {
    font-size: 30px;
    font-weight: 700;
    display: block;
    padding: 0.3em 0.5em 0.4em;

    @include media (max-height 600px max-width $md-screen - 1) {
      font-size: 24px;
      line-height: 1.2;
    }

    @include media ($medium-up) {
      font-size: 17px;
      padding: 8px 10px 9px;
    }
  }

  .nav-link {
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: all $base-duration $base-timing;

    &:hover {
      background: rgba(0,0,0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0, 0.05);
      opacity: 1;
    }

    @include media ($medium-down) {
      color: #fff;
    }

    @include media ($medium-up) {
      display: inline-block;
      line-height: 1em;
      margin-left: 9px;
    }
  }

  .nav-button {
    .mobile-nav-open & {
      @include media ($medium-down) {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
        margin-top: 0.5em;

        &:hover,
        &:focus {
          background-color: #fff;
          border-color: #fff;
          color: $action-color;
        }
      }
    }

    @include media ($medium-up) {
      display: inline-block;
      line-height: 1;
      margin-left: 1em;
    }
  }

  .header-menu {
    $background: #fff;
    $border-color: #ccc;

    display: none;
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    position: relative;

    > li {
      display: block;
    }

    .mobile-nav-open & {
      display: block;
    }

    @include media ($medium-down) {
      color: #fff;
    }

    @include media ($medium-up) {
      display: block;
      float: right;
      padding: 0;
      position: static;

      > li {
        display: inline-block;
      }
    }
  }

  // Mobile menu toggle
  .header-menu-toggle {
    color: #fff;
    float: right;
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0.65em;
    outline: none;
    padding: 8px 10px;
    position: relative;
    z-index: 1;

    .bar {
      background: #fff;
      border-radius: 1px;
      display: block;
      height: 2px;
      max-height: 2px;
      width: 22px;

      & + .bar {
        margin-top: 5px;
      }
    }

    @include media ($medium-up) {
      display: none;
    }
  }
}

// Header overlay for hero units
.header-hero {
  background: transparent;
  box-shadow: none;
  color: #fff;
  position: absolute;
  top: 0;
  z-index: 999;

  .logo img {
    display: none;

    &.white {
      display: inline-block;
    }
  }

  .nav-link {
    @include media ($medium-up) {
      color: #fff;
    }
  }

  .nav-button {
    @extend .button-white;
  }
}
