$hero-text-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);

// Focus animation
@keyframes focus {
  0% {
    text-shadow: $hero-text-shadow;
  }
  50% {
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff;
  }
  100% {
    text-shadow: $hero-text-shadow;
  }
}

.hero {
  background: $green url(image-path("pattern.jpg")) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  font-size: 1.8rem;
  padding: 3em $side-padding;
  text-align: center;
  text-shadow: $hero-text-shadow;

  > *:last-child {
    margin-bottom: 0;
  }

  h1 {
    color: #fff;
    font-weight: 900;
    margin: 0 auto 0.5em;
    max-width: 700px;

    @include media($medium-up) {
      font-size: 4rem;
    }

    .focus {
      animation: focus 2s ease-in-out 2s;
    }
  }

  p {
    margin-bottom: 1.5em;
  }

  a {
    border-bottom-color: $white;
    color: $white;

    &:active,
    &:hover {
      border-bottom-color: $white;
    }
  }

  hr {
    border-bottom-color: rgba($white, 0.75);
    box-shadow: $hero-text-shadow;
    opacity: 0.75;
  }

  .button {
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding: ($small-spacing*1.3) ($base-spacing*1.3);
    text-transform: uppercase;
  }

  .button-hover {
    box-shadow: 6px 7px 0 rgba(62, 65, 73, 0.2);

    &:active {
      box-shadow: 4px 4px 0 rgba(62, 65, 73, 0.2);
      transform: translate(3px, 3px);
    }
  }

  .or {
    display: block;
    font-size: 0.75em;
    margin: 7px 0;

    @include media($medium-up) {
      display: inline-block;
      font-size: 0.9em;
      margin: 0 0.5em;
    }
  }

  .video-fluid {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    margin-top: 1.5em;
  }

  form {
    text-align: left;
  }

  // Small hero
  &.small {
    padding: 1.5em $side-padding;

    h1 {
      font-size: 3rem;
      font-weight: 900;
    }

    p {
      font-size: 1.8rem;
      line-height: 1.3;
      margin: 0 auto 1.5em;
      max-width: 800px;
    }

    .video-fluid {
      margin-bottom: 1em;
      max-width: 500px;
    }
  }

  // When using floating header
  nav.header-hero + .main & {
    padding-top: 4em;

    &.small {
      padding-top: 3em;
    }

    @include media($xlarge-up) {
      padding-top: 5em;

      &.small {
        padding-top: 3em;
      }
    }
  }
}
