.hero {
  background-color: $green;
  color: #fff;
  font-size: 2rem;
  padding: 4em 0 3em;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 0 auto 0.5em;
    max-width: 700px;
  }

  p {
    margin-bottom: 1.5em;
  }

  .button {
    box-shadow: 6px 7px 0 rgba(62, 65, 73, 0.2);
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 2px;
    padding: ($small-spacing*1.5) ($base-spacing*1.5);
    text-transform: uppercase;

    &:active {
      box-shadow: 4px 4px 0 rgba(62, 65, 73, 0.2);
      transform: translate(3px, 3px);
    }
  }
}
