body.login,
body.en_login,
body.nl_login,
body.de_login {

  .input-group {
    display: table;
    margin-bottom: $base-spacing / 2;
    width: 100%;

    input {
      display: table-cell;
      margin-bottom: 0;
      text-align: right;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .input-addon {
      background-color: $light-gray;
      border: 1px solid $form-box-shadow;
      border-left: none;
      color: $dark-gray;
      display: table-cell;
      font-size: .8em;
      padding: 0 8px;
      text-align: left;
    }
  }

  #error {
    display: none;
  }
}
