.quote {
  $border-color: #dde1e6;

  // font-size: 0.95rem;
  margin: 0;

  .text {
    background: #fff;
    border: 2px solid $border-color;
    border-radius: $base-border-radius * 1.5;
    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.3;
    padding: 1.5em;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -12px;
      border: 12px solid transparent;
      border-bottom: none;
      border-top-color: $border-color;
      margin-left: -12px;
    }

    &::after {
      bottom: -9px;
      border-width: 9px;
      border-top-color: #fff;
      margin-left: -9px;
    }
  }

  .author {
    margin-top: 2em;
    text-align: center;
  }

  .avatar {
    margin-bottom: 10px;
  }

  .name {
    color: #494e4f;
    display: block;
    font-weight: 700;
  }

  .company {
    display: block;
  }
}

.quote2 {
  text-align: center;

  .text {
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1.5em;

    span {
      display: none;
    }

    &::before,
    &::after {
      color: lighten(#b8bdcc, 5%);
      content: '“';
      font-family: "Trebuchet MS", "Helvetica Neue", Arial, sans-serif;
      font-size: 60px;
      font-size: 4rem;
      line-height: 0;
      margin: 15px 0;
      position: relative;
      top: 16px;
      margin: 0 -4px 0 0;
    }

    &::after {
      content: '”';
      margin: 0 0 0 -4px;
    }
  }

  .author {
    color: #b8bdcc;
    font-size: 1.1rem;

    .name {
      display: block;
      font-weight: 700;
    }

    .company {

    }
  }
}
