body.nl_okc {

  $color-primary: $light-blue;

  .button-healthcare {
    background: $color-primary;
    border-color: $color-primary;
    color: darken($color-primary, 50) !important;
    white-space: normal;

    &:hover,
    &:active {
      color: $color-mono-2 !important;
      background: darken($color-primary, 10);
      border-color: darken($color-primary, 10);
    }
  }

  hr {
    border: 2px solid $color-primary;
  }

  header {
    background: rgba(82, 65, 65, 0.2);
  }

  h1 {
    color: #fff;
  }

  a {
    color: darken($color-primary, 50);
  }

  #intro {
    background-color: $color-primary;
    background-image: url(image-path('images/okc.jpg')), linear-gradient(-10deg, #71b9b6 ,#bce5ee );
  }

  #pricing {
    background-color: $color-primary;
    background-image: url(image-path('../images/pattern.svg')), linear-gradient(-10deg, #71b9b6 ,#bce5ee );

    a {
      color: darken($color-primary, 50);
    }
  }

  #screenshots {
    margin-top: -1px;
  }

  #contact {

    .button {
      color: darken($color-primary, 50);
    }

    ul.social a {
      color: darken($color-primary, 50);
    }
  }


  .hexagon {
    background: $color-primary !important;
    color: #fff !important;
  }

  .document {
    .scroll {
      padding-top: 54% !important;
    }
  }
}
