body.nl_seminar {
  $color-primary: #79c5d6;
  $color-secondary: #f8cb7a;

  hr {
    border-color: $color-primary;
  }

  a {
    color: darken($color-primary, 10);
  }

  .section-head h3 {
    color: $medium-gray;
    font-size: 1.2em;
  }

  .row {
    @include clearfix;

    @include media ($medium-screen-down) {
      .col:last-of-type {
        border-top: 1px solid lighten($medium-gray, 25);
        margin-top: 2em;
        padding-top: 2em;
      }
    }
  }

  .col {
    text-align: left;

    @include media ($medium-screen) {
      @include span-columns(6);
    }
  }

  .social {
    a {
      &:hover,
      &:active {
        background: $color-primary;
      }
    }
  }

  .button-cta {
    background: $color-secondary !important;
    border-color: $color-secondary !important;
    color: darken($color-secondary, 40) !important;
    padding: 1em;
    text-transform: uppercase !important;
    white-space: normal;

    &:hover,
    &:active {
      background: darken($color-secondary, 10) !important;
      border-color: darken($color-secondary, 10) !important;
      color: darken($color-secondary, 50) !important;
    }
  }

  .video {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #header {
    #header-menu > li a.link {
      @include media ($medium-screen-down) {
        color: $color-primary;
      }
    }
  }

  #intro {
    @include background-pattern($color-primary);

    h1 {
      color: #fff;
      margin: 0.5em 0 0.2em;

      @include media ($medium-screen-down) {
        font-size: 3em;
      }
    }

    h2 {
      color: rgba(#fff, 0.8);
      font-size: 4em;
      font-weight: 700;
      margin: 0;
      max-width: 800px;
      text-align: left;

      @include media ($large-screen-down) {
        font-size: 3em;
      }
      @include media ($medium-screen-down) {
        font-size: 2em;
        text-align: center;
      }
      @include media ($small-screen-down) {
        font-size: 1.8em;
      }
    }

    h3 {
      color: rgba(#fff, 0.6);
      text-align: left;

      @include media ($medium-screen-down) {
        text-align: center;
      }
    }
  }

  #impuls {
    @include linear-gradient($light-gray, #fff);
  }

  #seminar {
    @include linear-gradient($light-gray, #fff);

    .col {
      @include media ($medium-screen) {
        &:first-of-type {
          @include span-columns(4);
        }
        &:last-of-type {
          @include span-columns(8);
        }
      }
    }

    h4 {
      margin-top: 0;
    }

    ul {
      li {
        position: relative;
        margin: 0 0 0.8em 0;
        padding: 0 0 0 30px;

        &:before {
          background-color: #79c5d6;
          border-radius: 50%;
          color: #fff;
          content: '✔';
          height: 20px;
          font-size: 13px;
          left: 0;
          line-height: 20px;
          position: absolute;
          text-align: center;
          top: 2px;
          width: 20px;
        }
      }
    }
  }

  #program {
    @include linear-gradient($light-gray, #fff);

    ul.program {
      border-top: 1px solid lighten($medium-gray, 25);
      text-align: left;

      @include media ($medium-screen-down) {
        padding-top: 1em;
      }

      > li {
        border-bottom: 1px solid lighten($medium-gray, 25);
        margin-bottom: 1em;
        padding-bottom: 1em;
        position: relative;

        ul {
          list-style: disc;
          margin-left: 1.1em;
        }

        @include media ($medium-screen) {
          padding-left: 200px;
        }
      }

      .time {
        color: $color-primary;
        font-weight: 700;

        @include media ($medium-screen) {
          left: 0;
          position: absolute;
          top: 0;
        }
      }

      h5 {
        margin-bottom: 0;
      }
    }
  }

  #speakers {
    @include linear-gradient($light-gray, #fff);

    .title {
      margin-bottom: 1em;
      min-height: 68px;
      padding: 8px 0 0 80px;
      position: relative;

      h4 {
        margin: 0 0 4px;
      }

      span {
        color: $medium-gray;
        margin: -1.2em 0 1.4em;
      }
    }

    .avatar {
      left: 0;
      position: absolute;
      top: 0;
    }

    .michael .avatar {
      background-image: url(image-path('seminar/michael_hebben.jpg'));
    }
    .ronald .avatar {
      background-image: url(image-path('seminar/ronald_van_rheenen.jpg'));
    }
  }

  #location {
    @include linear-gradient($light-gray, #fff);

    ul {
      list-style: disc;
      margin-left: 1.1em;
    }
  }

  #contact {
    @include linear-gradient($light-gray, #fff);

    .button {
      color: darken($color-primary, 10);
    }

    .button-cta {
      margin: 0 0 2em;
    }
  }

  #bottom {
    background-color: #f1f1f1;
    border-top: 1px solid lighten($medium-gray, 25);
  }

  #footer {
    border-top: 1px solid lighten($medium-gray, 25);
  }
}
