<section id="announcement">
  <div class="container">

    <div class="quote">
      <div class="avatar" style="background-image: url(http://photos-b.ak.instagram.com/hphotos-ak-xpf1/10483442_1426344384313553_589866955_n.jpg)"></div>

      <div class="bubble">
        <h2><a href="seminar/" target="_blank">Seminar: Informeel leren en kennis delen in ziekenhuizen</a></h2>
        <p>Op donderdag 11 juni aanstaande organiseren wij een seminar voor mensen die werkzaam zijn in de gezondheidszorg. Het seminar is een inspiratiesessie waarin professionals uit de praktijk je inwijden in de wereld van informeel leren en kennisdeling.
          <a href="seminar/" target="_blank">Lees verder ...</a></p>
      </div>
    </div>

  </div>
</section>
