@import "neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1080px;

// Neat Breakpoints
$md-screen: em(600);
$lg-screen: em(900);
$xl-screen: em(1200);

// Mobile first media queries
$medium-up: new-breakpoint(min-width $md-screen);
$large-up:  new-breakpoint(min-width $lg-screen);
$xlarge-up: new-breakpoint(min-width $lg-screen);

// Isolated media queries
$small:     new-breakpoint(max-width $md-screen);
$medium:    new-breakpoint(min-width $md-screen max-width $lg-screen);
$large:     new-breakpoint(min-width $lg-screen max-width $xl-screen);
