// Typography
$base-font-family: "Lato", $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 17px;

// Line height
$base-line-height: 1.62;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$header-height: 62px;
$side-padding: 20px;

// Colors
$blue: #61a6cf;
$green: #5fc474;
$navy: #454f5d;

$dark-gray: #4a4a4a;
$medium-gray: #757575;
$light-gray: #e5e5e5;

// Font Colors
$base-font-color: $medium-gray;
$secondary-font-color: #b8bdcc;
$base-header-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
